:root{
    --first-color: #08605F !important;
    --first-color-hover: #0b7977 !important;
    --second-color: #177E89 !important;
    --second-color-hover: #1c9aa8 !important;
    --third-color: #598381 !important;
    --third-color-hover: #77aca9 !important;
    --four-color: #8E936D !important;
    --four-color-hover: #a9af84 !important;
    --five-color: #A2AD59 !important;
    --five-color-hover: #b2be63 !important;
  }
  
  .bg-first{
    background-color: var(--first-color) !important; 
  }
  .bg-second{
    background-color: var(--second-color) !important;
  }
  .bg-third{
    background-color: var(--third-color) !important;
  }
  .bg-four{
    background-color: var(--four-color) !important;
  }
  .bg-five{
    background-color: var(--five-color) !important;
  }

  .bg-first:hover{
    background-color: var(--first-color) !important;
  }
  .bg-second:hover{
    background-color: var(--second-color) !important;
  }
  .bg-third:hover{
    background-color: var(--third-color) !important;
  }
  .bg-four:hover{
    background-color: var(--four-color) !important;
  }
  .bg-five:hover{
    background-color: var(--five-color-hover) !important;
    
  }
  
  .text-first{
    color: var(--first-color) !important;
  }
  
  .text-second{
    color: var(--second-color) !important;
  }
  
  .text-third{
    color: var(--third-color) !important;
  }
  
  .text-four{
    color: var(--four-color) !important;
  }
  
  .text-five{
    color: var(--five-color) !important;
  }

